
.terms{
    background: white;
    padding: 25px 45px;
    b{font-size: 15px;}
    p{
        font-size: 14px;
        margin-top: 6px;
        letter-spacing: 0.5px;
    }
}
.term-1{
    padding-top: 0px;
}