<div class="footer">
  <p class="marquee">This is to notify the public that some unscrupulous persons impersonating as employees/ representatives /agents of
    DMI Finance Private Limited (and its associated / group companies), have cheated some people. DMI group of companies
    conduct themselves with impeccable transparency and ethics and never ask anyone to deposit money in the personal
    account of any person and neither do our companies ask for deposit of advance EMI for disbursal of a loan.
  </p>
</div>