
<app-header></app-header>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show"  id="home" role="tabpanel">
                    <h4>General Questions</h4>
                    <hr>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/38568/apple-imac-ipad-workplace-38568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>How can I upgrade my desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/159804/accountant-accounting-adviser-advisor-159804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>What is Daily Sending Limit and Monthly Sending Limit</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/921783/pexels-photo-921783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>Why do I need a desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                                
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/921783/pexels-photo-921783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>Why do I need a desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/38568/apple-imac-ipad-workplace-38568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>How can I upgrade my desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/159804/accountant-accounting-adviser-advisor-159804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>What is Daily Sending Limit and Monthly Sending Limit</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    

            </div>                      
        </div>
    </div>
</div>
</div>