<!-- <div class="session_section">
  <div class="flex"><h5>Session timed out !!</h5><img src="assets/sessiontimeout.png"></div>
  
  <p>
    Please Click Here to <a [routerLink]="['']">login</a> again or visit our website at <a href="https://dmifinance.in">https://dmifinance.in</a><br><br>
    <small>Thank you</small>
  </p>
</div> -->

<!-- #c62828 -->


<div class="body">
  <div class="col-sm-12"><img class="heading" src="assets/logo.png"></div>

  <div class="col-sm-12 mainSection">
    <!-- <div class="flex"><h5>Session timed out !!</h5><img src="assets/sessiontimeout.png"></div>
    
    <p>
      Please Click Here to <a [routerLink]="['']">login</a> again or visit our website at <a href="https://dmifinance.in">https://dmifinance.in</a><br><br>
      <small>Thank you</small>
    </p> -->

    <div class="col-sm-7 sessionImage"><img src="assets/session-exp.png"></div>
    
    <div class="col-sm-5 mobileSection">
      <p class="heading1">Session Expired</p>
      <p class="heading2">You have been logged out because of inactivity, login again to continue.</p>
      <div class="btnclass">
        <button class="loginbtn" routerLink=''>Login</button>
      </div>
    </div>


  </div>
</div>