<app-header></app-header>

<div class="bg">
    CONTACT US
</div>


<div class="container">
    <div class="box row" *ngIf="userBasicInfo" style="max-width: 600px;margin: auto">

        <div class="col-sm-6">
            <h5><b>Customer Support</b></h5>
            <p>Dear Borrower,<br> You can reach us for customer support requirements at</p>
            <hr>
            <h5><b>Working Hours</b></h5>
            <p>Monday to Sunday<br> 9:00 AM to 8:00 PM</p>

        </div>
        <div class="col-sm-6">
            <h5><b>Our Toll Free number</b></h5>
            <p>18005-727-727</p>
            <hr>
            <h5><b>Else you can write us at</b></h5>
            <p>customercare@dmifinance.in</p>
        </div>
    </div>

    <br><br><br><br>
</div>