
<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3 navtabs">
            <ul class="nav nav-tabs jus" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home0" role="tab" aria-controls="home" aria-selected="true">
                        <img src="assets/problem.svg">
                        General Questions
                    </a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home2" role="tab" aria-selected="false">
                        <img src="assets/accountant.svg">
                        Account and Billing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home3" role="tab"  aria-selected="false">
                        <img src="assets/tax.svg">
                        Offers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="tab" href="#home4" role="tab" aria-selected="false">
                        <img src="assets/appointment.svg">
                        Emi
                    </a>
                </li>
            </ul>
            
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show"  id="home" role="tabpanel">
                    <h4>General Questions</h4>
                    <hr>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/38568/apple-imac-ipad-workplace-38568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>How can I upgrade my desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/159804/accountant-accounting-adviser-advisor-159804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>What is Daily Sending Limit and Monthly Sending Limit</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/921783/pexels-photo-921783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>Why do I need a desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <a routerLink="/knowladgebase/categories" class="btn-read">View All</a>
                    <p class="col-sm-12"> <br><br></p>
                </div>

                <div class="tab-pane fade"  id="home2" role="tabpanel">
                    <h4>Account and Billing</h4>
                    <hr>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/921783/pexels-photo-921783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>Why do I need a desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/38568/apple-imac-ipad-workplace-38568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>How can I upgrade my desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/159804/accountant-accounting-adviser-advisor-159804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>What is Daily Sending Limit and Monthly Sending Limit</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    
                    <a routerLink="/knowladgebase/categories" class="btn-read">View All</a>
                    <p class="col-sm-12"> <br><br></p>
                </div>

                <div class="tab-pane fade"  id="home3" role="tabpanel">
                    <h4>Account and Billing</h4>
                    <hr>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/921783/pexels-photo-921783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>Why do I need a desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/38568/apple-imac-ipad-workplace-38568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>How can I upgrade my desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/159804/accountant-accounting-adviser-advisor-159804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>What is Daily Sending Limit and Monthly Sending Limit</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    
                    <a routerLink="/knowladgebase/categories" class="btn-read">View All</a>
                    <p class="col-sm-12"> <br><br></p>
                </div>
                
                <div class="tab-pane fade"  id="home4" role="tabpanel">
                    <h4>EMI</h4>
                    <hr>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/921783/pexels-photo-921783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>Why do I need a desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/38568/apple-imac-ipad-workplace-38568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>How can I upgrade my desktop application</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://images.pexels.com/photos/159804/accountant-accounting-adviser-advisor-159804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <div>
                                <h5>What is Daily Sending Limit and Monthly Sending Limit</h5>
                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                            </div>
                        </a>
                    </li>
                    
                    <a routerLink="/knowladgebase/categories" class="btn-read">View All</a>
                   <p class="col-sm-12"> <br><br></p>
                </div>


            </div>                      
        </div>
    </div>

</div>



<!-- 

<div class="blogbg">
    <div class="container">
        <div class="blogheader row" >
            <div class="col-sm-6">
                <img src="assets/kb.svg">
            </div>
            <div class="col-sm-6">
                <form>
                    <input type="text" >
                    <button type="submit" routerLink="/knowladgebase/search">Search</button>
                </form>
                <div class="blogtags" *ngIf="kbposts">
                    <a href="#" *ngFor="let kbpost of kbposts.data"><img src="assets/kbicon.svg"> {{kbpost.category_name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br><br>
    <div class="row" *ngIf="kbposts">
        <div class="col-sm-4" *ngFor="let kbpost of kbposts.data; let i = index ">
           <div class="kbbox">
                <h4 >{{kbpost.category_name}}</h4> 
                <ul>
                    <li *ngFor="let quest of  kbpost.article">
                        <a  [routerLink]="quest.title"> {{quest.title}}</a>
                    </li>
                </ul>           
           </div>
        </div>
    </div>
</div>
         -->


