
<div class="modal-content">
    <div class="modal-header">
        <p>Validate OTP</p>
        <button type="button" class="close" aria-label="Close" (click)="currentModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>OTP has been sent to registered mobile number : <span>{{fromExp}}</span></p>
        <p>Please enter the OTP below to verify your details.</p>
        
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>

        <div class="col-sm-12 modal-section">
            <button (click)="getOTP()" data-dismiss="modal" aria-label="Close">Verify</button>
        </div>
    </div>
</div>
 