<app-header></app-header>


<div class="banner_section">
    <div class="row">
        <div class="col-sm-8" align="left">
            <h2>Your guide to healthy credit</h2>
        </div>
        <!-- <div class="col-sm-8 input_search" align="center">
            <label>Hi, how can we help you?</label><br>
            <input type="text" placeholder="Type here to search ……." style="color: #222">
            <button type="submit"><img src="assets/search.png"></button>
        </div> -->
    </div>
</div>


<!-- <div class="blogbg">
    <div class="container">
        <div class="blogheader row">
            <div class="col-sm-6">
                <img src="assets/blog.svg">
            </div>
            <div class="col-sm-6">
                <form>                
                    <input type="text" placeholder="Blog Title">
                    <button type="submit">Search</button>
                </form>
                <div class="blogtags">
                    <a href="#"><img src="assets/fund.svg"> Mutual Fund</a>
                    <a href="#"><img src="assets/insurance.svg"> Loan Against Property</a>
                    <a href="#"><img src="assets/personal.svg"> Education Loan</a>
                    <a href="#"><img src="assets/personal.svg"> Personal Loan</a>
                    <a href="#"><img src="assets/card.svg"> Project Finance</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container blogFor1920">
        <app-blogslider></app-blogslider>
</div>

<hr>
<br>


<div class="container" style="display:none">
    <div class="row" *ngIf="blogData" >
        <div class="col-sm-4 bolg-wrap" *ngFor="let blog of blogData.data">
            <div class="">
                <p class="authur"><small>{{blog.created_at}}</small> <small>Authur: {{blog.created_by}}</small></p>
                <img [src]="domSanatize.bypassSecurityTrustUrl(blog.meta_image)" alt="" class="">
                <h4>{{blog.blog_title}}</h4>
                <p>{{blog.blog_title}}</p>
                <!-- <div class="tag">
                    Personal Loan 
                </div> -->
                <a (click)="blogDetail(blog)" class="btn-read">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 blogPagination">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" (pageChange)="loadPage($event)">
        </ngb-pagination>
    </div>
</div>

<!-- <p class="text-center"><a class="btn-read">Load More</a></p> -->