.tkt-aside {
    background: linear-gradient(#eff8ff, #e4f3ff);
    //   position: fixed;
    //   top: 86px;
    margin-left: 62px;
    bottom: 0;
    width: 330px;
    border-top-left-radius: 32px;
    height: 100%;
    min-height: 87vh;
    .head_title {
      margin-top: -14px;
      padding-right: 10px;
      padding-top: 32px;
      img {
        height: 12px;
      }
      .title_text {
        font-size: 12px;
        color: #2d708b;
        margin-top: 35px;
        margin-bottom: 25px;
      }
    }
    .category_card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        text-align: center;
        background-color: #fff;
        max-height: 52px;
        border-radius: 3px;
        cursor: pointer;
        width: 148px;
        margin-bottom: 27px;
        margin-left: -5px;
        img{
            max-height: 20px;
            margin-top:5px;
        }
        p{
            font-size: 12px;
            margin-top: 6px;
        }
        .card_icon{
            width: 30px;
        }
    }
    .leftnav_cards{
    .vl_height{
        border-right: 1px solid gray;
        height: 52px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: 12px;
    }
    .col-sm-6{
        margin-bottom: 0px;
        margin-right: -2px;
    }
    .title_text {
        font-size: 12px;
        color: #2d708b;
        margin-top: 35px;
        margin-bottom: 25px;
      }
    }
  }
  
  .tkt-aside_search .search-container {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    img {
      height: 12px;
      margin-top: -10px;
    }
  }
  
  .tkt-aside_search input[type="text"] {
    width: 274px;
    background: white;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    height: 30px;
    margin-left: 10px;
  }
  
  .tkt-aside_search .search-container button {
    float: right;
    padding: 5px 13px;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 30px;
  }
  
  @media screen and (max-width: 600px) {
    .tkt-aside_search .search-container {
      float: none;
    }
    .tkt-aside_search a,
    .topnav input[type="text"],
    .topnav .search-container button {
      float: right;
      padding: 5px 10px;
      margin-right: 16px;
      background: #f4faff;
      font-size: 17px;
      border: none;
      cursor: pointer;
      height: 28px;
    }
    .tkt-aside_search input[type="text"] {
      border: 1px solid #ccc;
    }
  }

  .tkt_right_container{
    padding-left: 100px;
    .title_text {
        font-size: 12px;
        color: #2d708b;
        margin-top: 35px;
        margin-bottom: 25px;
      }
      .head_title {
        padding-top: 8px;
        margin-left: 10px;
        }
        .notification_panel {
            padding: 14px 20px 22px 20px;
            width: 95%;
            background: white;
            margin-left: 10px;
            margin-bottom: 22px;
            .noti_message {
              font-size: 11px;
              line-height: 13px;
              color: gray;
            }
            .noti_subject {
                font-size: 13px;
                margin-top: 8px;
                margin-bottom: 10px;
            }
          }
          button{
            color: #720f00;
            border: 1px solid lightgray;
            position: relative;
            border-radius: 30px;
            padding: 3px 12px;
            font-size: 12px;
            min-width: 50px;
            display: inline-block;
            background: white;
          }
          .like_section{
              img{
                  height: 14px;
                  margin-top: 3px;
              }
              span{
                font-size: 11px;
                margin-left: 5px;
                margin-top: 5px;
              }
          }
  }

  .categorydetails_rightsec{
    margin-left: -28px;
    .title_text {
      font-size: 12px;
      color: #2d708b;
      margin-top: 35px;
      margin-bottom: 25px;
    }
    .head_title {
      padding-top: 8px;
      margin-left: 10px;
      }
      .notification_panel {
          padding: 14px 10px 22px 0px;
          width: 100%;
          background: white;
          margin-left: 10px;
          margin-bottom: 22px;
          .noti_message {
            font-size: 11px;
            line-height: 13px;
            color: gray;
          }
          .noti_subject {
              font-size: 13px;
              margin-top: 8px;
              margin-bottom: 10px;
          }
        }
       
        .like_section{
            img{
                height: 14px;
                margin-top: 3px;
            }
            span{
              font-size: 11px;
              margin-left: 5px;
              margin-top: 5px;
            }
        }
  }
  