
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$from-primary: mat-palette($mat-indigo);
$from-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$from-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$from-theme: mat-light-theme($from-primary, $from-accent, $from-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($from-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$from-primary: mat-palette($mat-indigo);
$from-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$from-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$from-theme: mat-light-theme($from-primary, $from-accent, $from-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($from-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you dobdobdobcan optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$from-primary: mat-palette($mat-indigo);
$from-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$from-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$from-theme: mat-light-theme($from-primary, $from-accent, $from-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($from-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$from-primary: mat-palette($mat-indigo);
$from-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$from-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$from-theme: mat-light-theme($from-primary, $from-accent, $from-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($from-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content-wrap {
  width: 100%;
  top: 20%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 20%;
}
@media screen and(min-device-width: 1600px) and (max-device-width: 1920px) {
  .content-wrap {
    width: 100%;
    top: 10%;
    position: relative;
  }
  .btn-close {
    position: absolute;
    left: 0px;
    right: -170px;
    margin: 0 auto;
    z-index: 1;
  }
}
.check-box .mat-checkbox-checked .mat-checkbox-background {
  background-color: #004788;
}
.modal-dialog {
  width: 100%;
  // margin: 30px auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 690px !important;
  overflow: hidden;
  outline: 0;
  .modal-content {
    height: 662 !important;
  }
}

.input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 0;
  }
}
.input-row .mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}
.check-box {
  .mat-checkbox-inner-container {
    display: inline-block;
    height: 16px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
    top: 0;
    right: 1vw;
  }
}
.check-box-txt {
  width: 100%;
  position: relative;
  left: 1vw;
  font-size: 0.8rem;
  bottom: 3vh;
}
.radio-btn .mat-radio-label-content {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  display: inline-block;
  order: 0;
  line-height: inherit;
  padding-left: 8px;
  padding-right: 52px;
}
.radio-color .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #004788;
}
.radio-color .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #004788;
}
@media only screen and (max-width:800px){
  .mat-form-field-flex{
    width: 100% !important;
  }
  .check-box {
    .mat-checkbox-inner-container {
      right: 0;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (max-width: 768px) {
  .btn-close {
    position: absolute;
    color: #000;
    left: 0px;
    right: -26px;
  }
  .modal-body {
    position: relative;
    margin: 0;
    padding: 0 14px 160px;
  }
  .input-row .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 50vw;
    padding-top: 10px;
  }
  .more-btn[_ngcontent-yrb-c0] {
    position: relative;
    left: 0vw;
    z-index: 1;
  }
  .submit-btn[_ngcontent-sph-c0] {
    position: relative;
    right: 5vw;
    top: 32vh;
  }

  .modal-body {
    position: relative;
    margin-bottom: 200px;
  }
  .check-box {
    position: relative;
    bottom: 20px;
  }
  .check-box-txt {
    width: 240px;
    position: relative;
    top: -5px;
    left: 6.5vw;
    font-size: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .modal-xl {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
    // max-width: 1200px;
  }
  .rgt-text {
    left: 9vw;
  }
  .form-wrap {
    position: relative;
    top: 12vh;
    left: 2vw;
    width: 65%;
  }
}
// @media only screen and (min-width: 1378px) and (max-width: 1920px) {
//   .modal-xl {
//     width: 1500px;
//     margin: 0 auto;
//   }
// }
@media only screen and (min-width: 1281px) and (max-width: 1376px) {
  .rgt-text {
    left: 12vw;
  }
  .modal-xl {
    max-width: 1120px;
    position: relative;
  }
  .from-content {
    position: relative;
    // margin-bottom: 7vh;
  }
  .check-box-txt {
    width: 100%;
    position: relative;
    left: 1vw;
    font-size: 12px;
    bottom: 4vh;
  }
  button.button.mat-raised-button[_ngcontent-nhp-c0] {
    background: #004788;
    color: #fff;
    float: right;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
    line-height: 1;
    width: 200px;
    top: 20vh;
    position: absolute;
    border-radius: 0;
    right: -9vw;
    cursor: pointer;
  }
  .input-row .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 16vw;
  }
  .right-bg{
    width: 100%;
    height: calc(100vh - 83px);
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
  }
}
@media only screen and (min-width: 790px) and (max-width: 1199px) {
  .modal-xl {
    width: 950px;
  }
  .modal-body {
    margin-bottom: 220px;
  }
  .input-row .mat-form-field-flex {
    width: 40vw;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .modal-body[_ngcontent-sut-c0] {
    position: relative;
    flex: 1 1 auto;
    padding: 0;
    margin-right: 13px;
    margin-bottom: 490px;
  }
  .radio-btn .mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    -webkit-box-ordinal-group: 1;
    order: 0;
    line-height: inherit;
    padding-left: 8px;
    padding-right: 12px;
  }
}
@media only screen and (min-width: 1500px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100vh !important;
    overflow: hidden;
    outline: 0;
    .modal-content {
      height: 662 !important;
    }
  }
}

// Gauge css
.style-mat .mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}
.chart {
  g.raphael-group-63-pointGroup {
    display: none;
  }
  circle {
    display: none;
  }
  g.raphael-group {
    display: none;
    text {
      display: none;
    }
  }
}

//   Modal Changes
.email-modal {
  .modal {
    position: fixed;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .modal-body {
    position: relative;
    padding: 30px;
    p {
      font-size: 14px;
      width: 100%;
      font-weight: normal;
      position: relative;

      word-spacing: normal;
    }
  }
  .ok-btn {
    background: #007bff;
    color: #fff;
    outline: none;
    padding: 5px;
    width: 50px;
    border-radius: 20px;
    border-style: none;
    font-size: 14px;
  }

  .modal-footer {
    padding: 0px 10px 12px;
    border: none;
  }
}

// loader css of process modal
.loader {
  width: 100%;
  position: relative;
  padding: 10px;
  .mat-spinner.mat-spinner.mat-progress-spinner.mat-primary.mat-progress-spinner-indeterminate-animation {
    width: 60px !important;
    height: 60px !important;
  }
  .mat-progress-spinner {
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .mat-progress-spinner svg {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    transform-origin: center;
    overflow: visible;
    width: 60px !important;
    height: 60px !important;
  }
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #007bff;
  }
}
.process-modal {
  .modal {
    position: fixed;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .modal-body {
    position: relative;
    padding: 30px;
    p {
      font-size: 14px;
      width: 100%;
      font-weight: normal;
      position: relative;

      word-spacing: normal;
    }
  }

  .modal-footer {
    padding: 0px 10px 12px;
    border: none;
  }
}
// Trouble in login modal css start
.trouble-moodal {
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: #808080bd!important;
  }
  .modal-dialog.modal-lg {
    position: relative;
    // top: 20%;
    padding: 40px;
  }
  .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    // border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: #0a5697;
    color: #fff;
    font-size: 0.876rem;
    padding: 10px 20px;
    .close {
      padding: 1rem;
      margin: -1rem -1rem -1rem auto;
      color: #fff;
      font-size: 25px;
      opacity: 1;
    }
    .modal-title {
      font-weight: normal;
      margin: 0 30px;
    }
  }
  .modal-body {
    color: #9e9e9e;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    position: relative;
    left: 4%;
    p {
      font-style: italic;
    }
  }
  .name-mobile {
    width: 95%;
    padding: 10px 0;
    input.inp-name {
      width: 100%;
      padding: 8px;
      background: #8080801a;
      border: 1px solid #9e9e9e;
      color: gray;
    }
    input.inp-mobile {
      width: 100%;
      padding: 8px;
      background: #8080801a;
      border: 1px solid #9e9e9e;
      position: relative;
      color: gray;
    }
  }
  .email-style {
    width: 95%;
    padding: 10px 0;
    input.inp-email {
      width: 100%;
      padding: 8px;
      background: #8080801a;
      border: 1px solid #9e9e9e;
      color: gray;
    }
  }
  .msg-style {
    width: 95%;
    padding: 10px 0;
    textarea.textArea-style {
      width: 100%;
      padding: 10px;
      background: #8080801a;
      border: 1px solid #9e9e9e;
      color: gray;
    }
  }
  .modal-footer {
    border-style: none;
    .submit-btn {
      width: 100%;
      margin: 0 30px;
    }
    button#closeModal {
      padding: 4px;
    }
  }

  .star {
    color: red;
    position: relative;
    left: 6px;
    top: 3px;
  }
}
@media (max-width: 768px) {
  .trouble-moodal {
    .modal-dialog.modal-lg {
      position: relative;
      top: 0%;
      padding: 20px;
    }
  }
}
// Trouble login End modal css